@-moz-document url-prefix(http://www.google),

               url-prefix(http://images.google),

               url-prefix(http://news.google),

               url-prefix(http://blogsearch.google),

               url-prefix(http://books.google),

               url-prefix(http://209.85.165.104),

               url-prefix(http://translate.google),

               url-prefix(http://video.google),

               url-prefix(https://encrypted.google),

               url-prefix(https://www.google),

               url-prefix(https://images.google),

               url-prefix(https://news.google),

               url-prefix(https://blogsearch.google),

               url-prefix(https://books.google),

               url-prefix(https://209.85.165.104),

               url-prefix(https://translate.google),

               url-prefix(https://video.google)

{

.pmoabs {
    display: none !important;
}
#fbar {
    display: none !important;
}
#gbqfbb{
    display: none !important;
}
.gbqfba, .gbqfbb {
    border: 1px solid transparent !important;
}
.gb_6a gb_cb gb_qa, .gb_8a, .gb_hb.gb_ua, .gt-hats,.jfk-butterBar-info {
    display: none !important;
}
.gbqfba {
    background: #ececec !important;
}
#gbqfsa, #gbqfsb {
    font: bold 11px/27px Arial,sans-serif !important;
    vertical-align: top;
}
}
